@import url('../photo-grid/__card/photo-grid__card.css');

.photo-grid {
    width: 1184px;
    display: grid;
    grid-template-columns: repeat(auto-fill, 284px);
    grid-gap: 16px;
    margin: 0 auto;
    margin-top: 92px;
}