.place__url {
    width: 484px;
    height: 12px;
    font-size: 12px;
    line-height: 20px;
    color: #AAAAAA;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    margin-top: 0;
    position: absolute;
    top: 5px;
    right: 0;
    font-weight: normal;
}

.baikal-url {
    margin-top: 67px;
}

.kosa-url {
    margin-top: 67px;
}