.comments__title {
    width: 800px;
    height: 133px;
    text-align: center;
    margin: auto;
    margin-top: 0;
    margin-bottom: 48px;
    font-size: 72px;
    line-height: 65px;
    color: #ffffff;
}