@import url('../intro/__title/intro__title.css');
@import url('../intro/__subtitle/intro__subtitle.css');
@import url('../intro/__list/intro__list.css');
@import url('../intro/__content-row/intro__content-row.css');

.intro {
    width: 984px;
    margin: 0 auto;
    margin-top: 45px;
}