.barentsburg__url {
    width: 282px;
    height: 12px;
    margin-top: 0;
    margin-bottom: 12px;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.2em;
    color: #AAAAAA;
    font-weight: normal;
}