@import url('./__image/barentsburg__image.css');
@import url('./__subtitle/barentsburg__subtitle.css');
@import url('./__text/barentsburg__text.css');
@import url('./__title/barentsburg__title.css');
@import url('./wrapping/wrapping.css');

.barentsburg {
    width: 1184px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}