@import url('./__container/container.css');
@import url('./__copiright/copiright.css');

.footer {
    width: 1184px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-top: 160px;
    margin-bottom: 48px;
    padding-bottom: 0;
}