.barentsburg__subtitle {
    width: 583px;
    height: 40px;
    margin-top: 0;
    font-size: 42px;
    line-height: 60px;
    color: #FFFFFF;
    margin-bottom: 35px;
    font-weight: normal;
    padding-top: 0;
}