.place__paragraph {
    width: 484px;
    font-size: 18px;
    line-height: 30px;
    color: #ffffff;
    margin-top: 0;
    position: absolute;
    top: 119px;
    right: 0;
}

.place:first-child .place__paragraph {
    top: 178px;
}

.place:nth-child(4) .place__paragraph {
    top: 178px;
}

.kosa-second {
    margin-top: 174px;
}

.kolskiy-second {
    margin-top: 144px;
}

.altai-second {
    margin-top: 204px;
}

.baikal-second {
    margin-top: 114px;
}